---
layout: 'default2'
title: 'Who is morally responsible for global poverty?'
email: 's.butterfill@warwick.ac.uk'
weburl: ''
units: []
lecture_date: '2017/08/31'
---

//-
//- (c) Stephen A. Butterfill 2014
//-

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

- var images = get_images('bees')

//-  the session would last for around 50 minutes, and would comprise (roughly) a 25 minute presentation followed by a 25 minute Q&A. This would all be done live on the online platform Bizzabo, with up to 200 students in attendance. 

section.slide
  .notes.
    Who is responsible for global poverty?
  div
    img#titleImg.bkg(src='/img/sunclouds_05.jpg')
  +_slide_inner({blend:'overlay'})
    .huge-glow-invert-80(style="line-height:.75em;")
      p.firsttitle
        span.cooperation Who is 
        span.morally.hide.huge-glow-80 morally
        span  responsible   
        br
        span for 
        span.huge-glow-80(style="line-height:.7em;")
          span global 
          span poverty?
  +reset
    +_slide_inner
      p.right(style="margin-top:500px;").invert.signature s.butterfill@warwick.ac.uk
  .slide
    +show('.morally')
    .notes.
      I will introduce you to Pogge’s argument that, even if you are a libertarian,
      and in fact almost whatever position you take in ethics, it’s you who is 
      responsible for global poverty.
    .notes.
      I will also introduce what I take to be one of the best objections.
    .notes.
      But let’s start with some facts
  +rain({img:'#titleImg'})

+slide
  .fig
    +img_clip('poverty_pandemic.png')
    +style('.fig img', {filter:'hue-rotate(75deg) brightness(1.75) saturate(2)'})
  +reset({blend:'overlay'})
    .fig-over
      +img_clip('poverty_pandemic.png')
      +style('.fig-over img', {filter:'brightness(5)'})
  p.source https://www.ft.com/content/f45afb9a-aaa3-4434-8d3b-b56e24f0cb37
  .notes.
    As we speak, there are probably over 600m people who live on under $1.90 a day
    at purchasing power parity (PPP) exchange rates using 2011 prices.
    This means no healthcare, no education, poor or no housing, and inadequate nutrition.



+slide_middle
  p.center Is the problem insoluble?
  .notes: :t
    I’m no an economist, but ...


+slide
  +img_clip('poverty_economist.jpg')
  p.source https://www.economist.com/international/2017/03/30/the-world-has-made-great-progress-in-eradicating-extreme-poverty_economist
  .notes: :t
    Lots of progress has been made.

+slide_middle
  p 
    span.blater A bank rescue package totalling some 
    span £500 billion
    span.blater  was announced by the British government on 8 October 2008, as a response to the ongoing global financial crisis.
  p.right.grey-text https://en.wikipedia.org/wiki/2008_United_Kingdom_bank_rescue_package
  //- .slide
  //-   p.em-above UK GDP in 2008: roughly £1600 billion.
  .notes.
    At the time that was about a third of Britain's GDP.
  .notes.
    UK GDP in 2008: roughly £1600 billion.
  .notes.
    UK is roughly 5th largest economy in 2008.
  .slide
    +blur('.blater')
    p.em-above 
      span.blater2 Cost of sending money from a rich to a poor person is 
      span under 13%
    p.right.grey-text.blater2 (https://www.givedirectly.org/financials/)
  .slide
    +blur('.blater2')
    p.em-above 
      span In 2008, 
      span £500 billion 
      span  could have provided every poor person in the world with at least £435 each
  .notes: :t
    What the UK committed to spend on rescuing banks in 2008 would have been more than enough to lift
    every person in the world out of poverty for that entire year.
  .notes: :t
    Extreme poverty is one of the easiest, and cheapest, global problems to solve.
  .notes: :t
    But, yes, banks are good too.


+slide_middle
  p.center.hem-around.q1 Is the problem insoluble? No
  .slide
    +blur('.q1')
    p.center.hem-around.q2 Who will solve it? 
    .notes: :t
      China. It’s not going to be the generosity of others but
      the ambitions and actions of the poorest countries.
  .slide
    +blur('.q2')
    p.center.hem-around.q3 Who is morally responsible? 
  .slide
    +highlight-row('.q3')

+slide_middle({bkg:'IMG_20210603_201045.jpg'})
  +hide('img.bkg', 0)
  div(style='margin-left:250px')
    p proposal: Top 20% globally are 
      span.required required
      span  give 0.1% to bottom 20%
    .slide
      +show('img.bkg')
      p.em-above Ali lives alone, gets $10,500 / year (roughly £7400).
      .notes. 
        She’s in the top 20% globally according to
        https://howrichami.givingwhatwecan.org/how-rich-am-i?income=10450&countryCode=USA&household%5Badults%5D=1&household%5Bchildren%5D=0
      .notes.
        For compairson, full maintenance loan for student living away from home
        in 2021-2 is £9488 outside london, £12382 inside london.
      .notes.
        She’s around 5% by income distribution in the uk.
        Around 3.33m people in the uk have less income
        (but may not live alone).
    .slide
      +blur('img.bkg', '5px',1000)
      p.em-above.
        Ali is a libertarian: she does not believe that others’ needs 
        morally require her to surrender any of her property.
      .notes.
        She’s read Nozick (1974) and, like Nozick, thinks that 
        ‘redistributive taxation is morally on a part with forced labour’
        \citep{vandervossen:2019_libertarianism}.
      .notes.
        She does give, and she regards herself as generous for doing so.
        Her point is that she doesn’t owe anyone anything, 
        and not giving would not be morally wrong on her part.
        (Superordinate.)
    .slide
      +invert('.required')
    .slide
      p.em-above.
        Ali therefore rejects the proposal.
      .notes.
        What can we say to Ali?



//- +slide_middle
//-   .qm.hide
//-     +question_mark
//-   p.notes.handout.show.quote
//-     span ‘The 
//-     span.ca common assumption
//-     span  [...] is that 
//-     span.noblur reducing severe poverty
//-     span   [...] 
//-     br 
//-     span at the 
//-     span expense of our own affluence 
//-     br
//-     span  would be generous on our part, 
//-     span.step2.hide
//-       br
//-       span not something 
//-       span we owe
//-       span.step3.hide , and that 
//-     span.step3.hide 
//-       br
//-       span.noblur our failure to do this
//-       span  is thus at most 
//-       br
//-       span a lack of  
//-       span generosity that 
//-       span.noblur does not make us morally responsible 
//-       br
//-       span.noblur  for the continued  deprivation of the poor
//-     span ’ 
//-   .notes.handout.ctd \citep[p.~2]{pogge:2005_world}
//-   p.right.grey-text Pogge, 2005 p. 2
//-   .slide
//-     +show('.step2')
//-   .slide
//-     +show('.step3')
//-   .slide
//-     +invert('.ca')
//-     .notes.
//-       If a philosopher calls something a ‘common assumption' you know that ...
//- //- +slide_middle
//- //-   .notes: :t
//- //-     Unless they prefer banks to people,
//- //-   p Citizens of wealthy countries should eradicate poverty 
//- //-     span.slide because 
//- //-   .slide
//- //-     p.em-above.indent ... they are responsible for the harms it causes (Pogge).
//- //-     p.em-above.indent vs
//- //-     p.em-above.indent ... they have a moral obligation to help (Patten).


+slide_middle
  p.hem-around  Two perspectives on poverty-caused harms.
  .hem-around
    p needs-based
    p.indent We citizens of affluent countries 
    p.indent have a positive duty to meet needs.
    .notes.
      Ali thinks that it would be generous on her part to give.
      She does not think that she has done anything wrong by
      holding on to her wealth.
  .slide
    .harm.hem-around
      p harm-based
      p.indent We have a negative duty not to harm.
  .slide
    +highlight-row('.harm')
    .notes.
      So how does Pogge’s argument work?
    .notes.
      Pogge has written various books and lots of papers.
    .notes.
      But I think much of that boils down to a very simple, beautifully observed argument.
    .notes.
      So what I want to do today is just introduce what I take to be the core argument.


+slide_middle
  p: :t
    Key premise:
    a just institional order cannot ‘foreseeably reproduce avoidable human rights deficits on a massive scale’.
  .notes.
    If you reject this premise it's game over for Pogge.

+slide_middle({timer:true})
  p.notes.handout.show.hem-around.claim1: :t
    1. ‘Global institutional arrangements
    are causally implicated in the reproduction of’ extreme poverty.
  .notes.
    One of Pogge's favoured examples are trade agreements, which are very often structured
    in ways that favour the richer country over the poorer country. They protect some key industry
    in the richer country, for example.
  .notes.
    This is not to say that trade agreements are bad.
    The point is just that they can have the consequence of making things worse for people
    vulnerable to the harms of severe poverty. And can avoidably fail to make things better
    for such people.
  .notes.
    Another tragic, and more vivid example is vaccine distribution.
  .notes.
    A third example would be tollerance for corrpution.
  .slide
    +blur('.claim1')
    p.notes.handout.show.hem-around.claim2: :t
      2. ‘Governments of [...] affluent countries bear primary responsibility for these
      global institutional arrangements and can foresee their detrimental
      effects.’ 
    .notes.
      As Brexit is about to show people living in Britain, the more powerful side generally gets to
      shape trade agreemenets.
    .notes.
      Moreover, the effects of trade agreements are foreseeable.  We do have history. We do have
      economics. While neither of these are perfect, they have consistently allowed us to reliably
      predict the effects of different trade agreements.
  .slide
    +blur('.claim2')
    p.notes.handout.show.hem-around.claim3: :t
      3. ‘there is a feasible institutional alternative under which such severe and extensive poverty would not persist’
    .notes.
      There are, clearly, better and worse trade agreements.
    .notes.
      We could tweak one of the EU treaties in ways that would benefit a poorer country.
      Of course it would cost the EU something. 
  .slide
    +blur('.claim3')
    p.notes.handout.show.hem-around.claim4: :t
      4. ‘many citizens of [...] affluent countries bear responsibility
      for the global institutional arrangements their governments have
      negotiated in their names.’
    .notes.
      Citizens of affluent countries for the most part are free to vote as they choose.
      They are free to express opinions and to share their views with those around them.
    .notes.
      The citizens of these countries are responsible for the election of Trump, Johnson,
      Bolsonaro and the others.
    .notes.
      And the policies and behaviours of those governments are, ultimately, a matter of the 
      choices that the citizens of those relatively affluent countries make.
  .slide
    +unblur('.claim1, .claim2, .claim3')
    .notes.
      So here’s the argument.
    .notes.
      Hard to argue with any of the premises individually.
    .notes.
      But when you put them together, you get this striking conclusion.
    .notes.
      The conclusions is that citizens of affluent countries bear responsiblity for 
      the harms of severe poverty
      *insofar as those are consequences of institutional arrangements*.
  p.right.grey-text Pogge, 2005



+slide_middle
  .notes.
    Here’s the conclusion in Pogge’s own words
  p: span: :t
    Conclusion
  p.em-above
      span ‘we, the citizens and governments of the affluent countries, in 
      span collusion with the ruling elites of many poor countries, are 
      span.harm harm
      span ing 
      span the global poor by imposing an unjust institutional order upon them‘ 
  p.right.grey-text: span Pogge, 2005 p. 59
  .slide
    +blur('span:not(.harm)')
    .notes.
      Key thing here is the harm.

+slide_middle
  .all
    p.hem-around  Two perspectives on poverty-caused deaths.
    .hem-around
      p needs-based
      p.indent We citizens of affluent countries 
      p.indent have a positive duty to meet needs.
    .harm.hem-around
      p harm-based
      p.indent We have a negative duty not to harm.
  +highlight-row('.harm')
  .notes.
    It’s the harm-based approach that makes the argument interesting.
  .notes.
    Not too dificult, if you start from the premise that others have a 
    duty to help when others are in need and they can help, to show
    that you and I are responsible for global poverty.
  .notes.
    Pogge’s argument works even if you think others’ needs give you no duty at all
    to help other people.
  .notes.
    The responsibility you have for global poverty arise from the duty you have
    to avoid harm.  
  .slide
    +blur('.all')
    .notes.
      Why is this important?
    .notes.
      There are a range of views on whether positive duties justify coercing
      individuals.
      These range from the extreme libertarian to the
      genuinely socialist.
    .notes.
      You can find thoughtful, intelligent people at almost any point in the range.
    .notes.
      No matter how strong your feelings are about your personal position, if you step
      back you can probably see that it is entirely irrelevant.
      The diversity in ethical and political views is not going away: you will not
      succeed in mass-conversion libertarians to your socialist ideals.
    .notes.
      Progress instead requires arguments that appeal to everyone regardless of their
      ethical and political starting point.
      And that’s the beauty of Pogge’s big idea.

+slide_middle
  p Pogge’s big idea
  p.em-above From weak assumptions about duties 
    span.invert not 
    span  to harm
  p.em-above it is possible to derive
  p.em-above a radical conclusion about redistribution.
  
+slide_middle({bkg:'IMG_20210603_201045.jpg'})
  p Aside
  .notes.handout.show
    p.em-above Libertarians
    .notes.
      Term has been used in a variety of ways ...
      but one core idea is this ...
    //- .slide
    //-   p.em-above: :t
    //-     ‘Libertarianism is a family of views in political philosophy.
    .slide
      +blur('img.bkg', '5px')
      p.em-above: :t
        ‘strongly value individual freedom and see this as justifying
        strong protections for individual freedom.’
    .slide
      +fade('img.bkg')
      p.em-above: :t
        ‘usually see the kind of large-scale, coercive wealth
        redistribution in which contemporary welfare states engage as involving
        unjustified coercion.’
      .notes: :t
        So you can see Libertarians are relevant because they 
        would probably not accept that there is a duty to help,
        but would probably accept a duty not to harm.
  .notes.handout.ctd \citep{vandervossen:2019_libertarianism}
  p.right.grey-text van der Vossen, 2019
  .notes.
    Pogge’s argument says that even if you are a libertarian, 
    so even if you are ideologically opposed to redistribution,
    you still have a duty to act to alleviate global poverty
    because it is partly a consequence of harms you could avoid causing. 
  .notes.
    So it’s *coherent* to be opposed to universal health care and 
    other forms of redistribution and yet also insist that you and 
    those around you are to some degree responsible for global poverty.

+slide_middle
  p.center.huge-glow objection




+slide_middle({timer:true})
  .hem-around-children
    p.step2.hide Compare:
    p Distributive outcomes under the actual international order.
    p.step2.hide vs
    p.step2.hide Distributive outcomes likely under a fair international order.
  .slide
    +show('.step2')
  .slide
    p.em-above: :t
      The gap between the two sets of
      outcomes tells us the degree of
      responsibility of the actual order for
      the outcomes it is associated with
  p.right.grey-text Patten, 2005 p. 23
  .notes.handout: :t
    ‘We might hypothesize about the
    distributive outcomes that would be
    likely to arise under this fair
    international order and then compare
    these outcomes with the ones associated with the actual international
    order. The gap between the two sets of
    outcomes tells us the degree of
    responsibility of the actual order for
    the outcomes it is associated with’
  .notes.handout.ctd \citep[p.~23]{patten:2005_world}.
  .notes: :t
    CONTINUED: ‘Imagine, for instance, that only two million people a year would die of poverty- related causes under a fair international regime, compared with the eighteen million a year who die under the actual one. Then, on this procedural view of how to specify the baseline, we could say that the current international order is causing the death of sixteen million people a year.’  
  .slide
    p.em-above example : asymmetric restrictions on trade
    .notes.
      Why am I excited?
  //- +show-timer
  //- +start-timer

+slide_middle
  p Patten’s objection
  p.step2.em-above.notes.handout.show: :t
    ‘even in a fair international environment there is no guarantee that the
    policies needed to fight poverty will be introduced domestically ...
  .notes.
    Particularly clear in Somalia or Syria. Many other corrupt states.
  //- p.em-above.notes.handout.show: :t
  //-   ‘even fairly democratic countries, operating under an international set of
  //-   rules that have been shaped for their own advantage, can routinely fail to
  //-   enact policies designed to help their poorest and most marginalized
  //-   citizens.’
  //- .notes.handout.ctd \citep[pp.~23--4]{patten:2005_world}.
  p.right.grey-text Patten, pp. 23--4
  //- .slide
  //-   +show('.step2')

+slide_middle({timer:true})
  .notes.
    So here’s the problem.
  p.step1.em-above.notes.handout.show: :t
    under an ideally fair set of international rules, [...] there would 
    still be significant severe poverty 
  //- .slide
  //-   p.step1.em-above.notes.handout.show: :t
  //-     If we think only in terms of harm through unfair international agreements, 
  //-     ‘these victims of poverty do not count as “harmed” by the
  //-     affluent countries.’
  .slide
    +blur('.step1')
    p.em-above.notes.handout.show: :t
      After reforming the international system, 
      would the affluent have absolved themselves of complicity in
      the fate of the poor?
    .notes.
      This is a tricky question because ...
  //- +show-timer
  //- +start-timer
  .slide
    p.em-above.notes.handout.show
      span ‘they would not have eradicated the most morally 
      span salient fact from a 
      span.needs needs-based perspective
      span ---the fact of poverty.’ 
  .slide
    +invert('.needs')
    .notes.
      So Patten’s objection is that we cannot abandon the needs-based 
      perspective entirely.
    .notes: :t
      Background clash between two perspectives.
      We have a positive duty to meet needs.
      We have a negative duty not to harm.


+slide_rh_white({step:false, timer:true})
  .notes.
    We can put Patten’s objection to Pogge as a dilemma
  +run_across
    p.center Patten’s dilemma for Pogge:
  +left_half
    p deny that there is an additional duty of assistance
    .slide
      p.em-above: :t
        Objection: ‘property and other rights of the privileged should not be regarded as
        so absolute as to override a duty to perform easy rescues’
      .notes: :t
        This is among the ‘standard objections to libertarianism’
  .slide
    +right_half
      p allow that there is an additional duty of assistance
      .slide
        p.em-above: :t
          Pogge’s view then just amounts to saying that citizens of affluent
          countries should not only stop harming but should also help.
      .slide
        p.em-above: :t
          It is a partly needs-based, not an exclusively harm-based, argument.
  //- +show-timer
  //- +start-timer
  


section.slide
  .notes: :t
    So who is responsible?
  .notes: :t
    Two thoughts.
  .notes: :t
    Pogge establishes that,
    purely from the perspective that we have a duty not to cause avoidable and forseable harm,
    you and I, as residents of wealthy countries, 
    are responsible to some degree.
  .notes: :t
    But his critic Patten shows that unless you are a libertarian,
    there is a further duty which arises from the needs of those who
    live in extreme poverty.
  .notes.
    To conclude, where are we?
  .notes.
    Pogge shows that almost whatever moral view you start from,
    even an extreme Libertarian one,
    you are as a citizen of a wealthy country to some extent
    responsible for global poverty.
  .notes.
    But Patten’s objection shows that there’s a much stronger
    form of responsibility you have if you accept as a premise
    that there you have needs-based responsibilities.
    That is, others’ needs and your ability to assist mean that you
    have not only a negative duty to avoid harm but also a positive duty to help.
  .notes.
    [update this: key point is whether the issue of global poverty can be fully
    addressed in a way that works regardless of ethical starting point.
    This is valuable because there is enormous diversity in people’s ethical views
    and little prospect of agreement; so an argument that works for almost any ethical
    view is especially valuable.]
  .notes.
    [update ctd:] so it would be much too bold to say that the differences between
    libertarians and socialists do not matter.
  div
    img#titleImg.bkg(src='/img/sunclouds_05.jpg')
  +_slide_inner({blend:'overlay'})
    .huge-glow-invert-80(style="line-height:.75em;")
      p.firsttitle
        span.cooperation Who is 
        span.morally.huge-glow-80 morally
        span  responsible   
        br
        span for 
        span.huge-glow-80(style="line-height:.7em;")
          span global 
          span poverty?
  +reset
    +_slide_inner
      p.right(style="margin-top:500px;").invert.signature s.butterfill@warwick.ac.uk



+slide_middle
  p.center.huge-glow appendix
  p.center states are morally relevant

+slide_middle
  .notes: :t
    In attempting to see what might be said for moral relevance,
    I think it is helpful to follow Appiah in distinguishing nation from state ...
  .handout \subsection{States vs Nations}
  p.em-above.notes.handout.show 
    span.nation nation
    span.nation.df.hide  : ‘an imagined community of culture or ancestry running beyond the scale of the face-to-face and seeking political expression’
  .notes.handout.ctd \citep[p.~27]{appiah:1996_love}
  p.em-above.notes.handout.show 
    span.state state
    span.state.df.hide s : ‘regulate our lives through forms of coercion that will always require moral justification. 
    span.state.df.hide State institutions ... are ... necessary to so many modern human purposes ... 
    span.state.df.hide.why-moral [T]o do its job the state has to have a monopoly on certain forms of authorized coercion
    span.state.df.hide ’
  .notes.handout.ctd \citep[p.~28]{appiah:1996_love}
  p.right.grey-text Appiah, 1996 pp. 27--8
  .slide
    +show('.nation.df')
  .slide
    +blur('.nation.df')
    +show('.state.df')
  .slide
    +blur('.state.df')
    .notes: :t
      Some thing that although nations are ethically irrelevant, states are not ...
  .slide
    +unblur('.why-moral')
    .notes: :t
      If this is their job, surely states cannot be ethically irrelevant.

+slide_rh_white({step:true, timer:true})
  +run_across
    p.center Are states morally relevant?
  .notes: :t
    Consider two kinds of justification for the claim that states are 
    morally relevant ...
  +left_half
    p.notes.handout.show: :t
      ‘our obligations as democratic citizens go beyond our duties as politically unorganized individuals, 
      because our capacity to act effectively to further justice increases when we are empowered as citizens, 
      and so therefore does our responsibility to act to further justice’
    .notes.handout.ctd \citep[p.~69]{gutman:1996_love}
    p.right.grey-text Gutman, 1996 p. 69
  +right_half({step:true})
    .hem-around-children
      p.notes.handout.show: :t
        1. Commitments cost money and lives.
      p.notes.handout.show: :t
        2. It is states which pay.
      p.notes.handout.show: :t
        Therefore:
      p.notes.handout.show: :t
        3. Citizens have ‘the ethical [and mandatory] right to make distinctions’.
    .notes.handout.ctd Glazer p. 62
    p.right.grey-text Glazer, 1996 p. 62
    .notes.handout: :t
      \subsection{Mandatory vs Discretionary Rights}
      A ‘\emph{mandatory right} confers no discretion whatever on its possessor:
      only one way of exercising it is permitted. It leaves one path open to him but
      no genuine "option" between paths. It imposes a correlative duty on others to
      provide that path and leave it unobstructed [...]. If I
      have a mandatory right to do X then it follows logically that I have [...] a duty to do X. 
      In the case of mandatory rights, duty and right are entirely coincident’
      \citep[p.~105]{feinberg:1978_voluntary}.
    .notes.handout: :t
      ‘Any discretionary right to something is a right to take it or leave it, as one chooses’
      \citep[p.~105]{feinberg:1978_voluntary}.
    .notes.handout: :t
      ‘I have a  \emph{discretionary right} in
      respect to X when I have an open option to X or not to X correlated with the
      duties of others not to interfere with my choice’
      \citep[p.~105]{feinberg:1978_voluntary}.

+slide_middle
  p.center states are morally relevant



